.header{
    margin: 0;
    padding: 20px;
}

a{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    color: inherit;
}

.logo{
    font-size: 30px;
}

.links{
    float: right;
    right: 0px;
    font-size: 18px;
}