#Account {
  background-color: #5d63d5;
  height: 100%;
  width: 100%;
}

#prof-pic-and-name {
  margin-left: 5%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

#controlled-tab-example {
  margin-left: 5%;
}

#profile {
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#profile-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit-profile-btn {
  background-color: #ff97c9;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

#jobs-applied-to {
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 15px;
}

#resume {
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#upload-resume-btn {
  background-color: #ff97c9;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

#dropdown-basic-button {
  min-width: 75px;
  max-width: 75px;
}

.username {
  margin-left: 3%;
}
