.resume-content-landing {
    height: 100vh;
}

.resume-content{
    height: 100%;
    align-items: center;
    text-align: center;
    color: black;
}

#resume-landing-page {
    min-height: 75vh;
    background-color: #5D63D5;
    color: white;
    align-items: center;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

#resume-landing-page h6 {
    margin-bottom: 120px;
}

.resume-landing-content {
  display: inline-block;
}

.downArrow{
	margin-top: 70px;
    color: white;
}

.downArrow img {
    height: 65px;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

p{
    margin: 0;
}

.resume-modal{
    height: 50vh;
}

@media only screen and (max-width: 885px) {
    #resume-landing-page {
        height: 90vh !important;
    }
    .resume-landing-content-p {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 575px) {
    #resume-landing-page {
        height: 100vh !important;
    }
}
@media only screen and (max-height: 850px) {
    #resume-landing-page {
        height: 150vh !important;
    }
}