#JobListing {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#job-listing-content {
    width: 70%;
}

#job-listing-header {
    background: linear-gradient(90deg,#5555e3,rgb(121, 134, 231)) !important;
    box-shadow: 0 5px 20px rgba(121, 134, 231, 0.698);
    transition: transform 300ms, box-shadow 300ms;
    color: white;
    border-radius: 5px;
    text-align: center;
    height: 400px;
    margin: 30px 0px;
}

#job-listing-header .row {
    height: 100%;
}

#job-listing-header .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#job-listing-body {
    min-height: 150px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    overflow: auto;
    padding: 45px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.25);
    transition: transform 300ms, box-shadow 300ms;
    z-index: 2;
}

#job-listing-body .ant-pagination {
    float: right;
}

.job-listing-cards {
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}

.job-listing-cards .card-link {
    color: rgb(86, 86, 250);
}

.job-listing-card-description {
    height: 250px;
    overflow-y: auto;
}

.job-listing-btns {
    display: inline-block;
    font-size: 20px;
}

.job-listing-btn {
    border: none;
    background-color: rgb(118, 118, 250);
    color: white;
    margin-top: 15px;
    margin-right: 10px;
    width: 80%;
    border-radius: 5px;
    padding: 10px 0;
}

.job-listing-btn:hover {
    transform: scale(1.01);
    background-color: rgb(105, 105, 253);
    transition: 0.4s;
}

#job-listing-body h4 {
    color: rgb(101, 101, 255);
}

.job-listing-cards h4{
    color: #6c757d !important;
}

#job-listing-loader {
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    #job-listing-content {
        width: 90%;
    }
}

@media only screen and (max-width: 765px) {
    .job-listing-btn {
        width: 100%;
    }
    #job-listing-header .row {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 660px) {
    #job-listing-header {
        padding-top: 20px;
        height: 500px;
    }
    #job-listing-lottie{
        height: 200px;
        width: 200px;
    }
}