#Login {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-auth-box {
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    overflow: auto;
    padding: 45px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.25);
    transition: transform 300ms, box-shadow 300ms;
    z-index: 2;
}

#login-form h4 {
    color: #5D63D5;
    text-align: center;
    font-weight: 700;
}

.input-label {
    font-size: 15px;
    color: #6b7280;
    font-weight: 600;
    margin: 5px 0px 5px 0px;
}

.login-fa-icon {
    font-size: 15px;
}

#form-login-btn {
    border: none;
    background-color: rgb(118, 118, 250);
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

.btn-hover-effect:hover {
    transform: scale(1.01);
    background-color: rgb(109, 109, 255);
    transition: 0.3s;
}

.bottom-login-form-row {
    color: #6b7280;
    font-size: 14px;
    display: inline-block;
}

.signin-error-message {
    color: red;
    font-size: 15px;
    margin-bottom: 15px;
}

.auth-lottie-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

@media only screen and (max-width: 1050px) {
    .auth-lottie-img {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    #login-auth-box {
        margin: 15px;
    }
}