.ant-modal {
    width: 100%;
    overflow-x: auto;
}

.ant-modal .react-pdf__Page__canvas {
    float:none; 
    margin:auto;
}

.comment-section-list {
    height: 600px;
    overflow-y: auto;
}

.comment-section-footer {
    padding-top: 15px;
}

.comment-section-footer button{
    margin: 5px 10px 0px 0px;
}

@media only screen and (max-width: 680px) {
    .ant-modal .react-pdf__Page__canvas {
        width: 100% !important;
        height: 100% !important;
    }
}