#ResetPassword {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-lottie-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#reset-password-box {
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    overflow: auto;
    padding: 45px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.25);
    transition: transform 300ms, box-shadow 300ms;
    z-index: 2;
}

#reset-password-form h4 {
    color: #5D63D5;
    text-align: center;
    font-weight: 700;
}

#reset-password-form #input-info p {
    color: #909090 !important;
    text-align: center;
    font-size: 13px;
}

#reset-password-btn {
    border: none;
    background-color: rgb(118, 118, 250);
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

@media only screen and (max-width: 1050px) {
    .auth-lottie-img {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    #login-auth-box {
        margin: 15px;
    }
}